body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 2px 10px;

}

.header {
    background-color: #fff8f3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #fff8f3;
    margin: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}